import url(´https://fonts.goolgleapis.com/css2family=Noto+Sans:wght@400;700&display=swap`);

body{
    margin: 0;
    font-family: Noto Sans, Helvetica, sans-serif;
}

body * { 
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color:#7A01F5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login > h1 {
  color:#F00F97;
}

.left-login-image{
    width: 38vw;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-login > h2 {
    color: #f0980a;
}

.right-login{
   width: 50vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#F00F97 ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #8D5DD9;
}

.card-login > h2 {
    color: #FCA703;
    font-weight: 800;
    margin: 0;

}
.textfield{
    width: 100%;
    display: flax;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#FA4BA4;
    color: #bb8fb9;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #5F22D4;
    outline: none;
    box-sizing: border-box;

}
 
.textfield > label {
    color: #F6D2FA;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: aliceblue;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #5F22D4;
    background: #FCA703;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px  #5F22D4;


}

@media only screen and (max-width:950px){
    .card-login{
    width: 85px;

     }

}
    
@media only secreen and (max-width: 600px){
    .main-login{
        flex-direction: column;

    }

    .left-login > h1{
        display: none;

    }
    .left-login{
        width: 100%;
        height: auto;
    
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;

    }
    .card-login{
        width: 90%;
    }
}
